# Curd Operation Using Telephone_Directory

In [2]:
from pymongo import MongoClient

In [3]:
#connect with local
client = MongoClient("mongodb://localhost:27017")

In [4]:
#Test the connection
client.test

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test')

In [30]:
client.list_database_names()

['Telephone_directory',
 'Treat',
 'admin',
 'config',
 'cscorner',
 'dataanalytics',
 'db',
 'local',
 'monogodb_session',
 'orders',
 'summa']

In [6]:
#create new database
db = client["Telephone_Directory"]

In [29]:
#create new collectin in db 
my_colle = db["TeleDetails"]

# CURD OPERATION (create, update, read, delete)

In [31]:
#curd operation
#insert one
my_colle.insert_one({'Name': 'Raja', 'Mobile_Num': 7530006574, 'Location': 'Pudukootai', 'DOB': '06/06/1997'})

In [32]:
data = [{'Name': 'Aadhi', 'Mobile_Num': 6589564112, 'Location': 'Coimbatore', 'DOB': '26/11/1998'},
        {'Name': 'Abinaya', 'Mobile_Num': 5432169875, 'Location': 'Chennai', 'DOB': '19/09/1999'},
        {'Name': 'Balaji S', 'Mobile_Num': 7788996655, 'Location': 'Tirupur', 'DOB': '15/12/2000'},
        {'Name': 'Bobby', 'Mobile_Num': 9988776655, 'Location': 'Pondicherry', 'DOB': '02/12/199'},
        {'Name': 'Barath', 'Mobile_Num': 9876543210, 'Location': 'Chidambaram', 'DOB': '16/08/2002'},
        {'Name': 'Chandru', 'Mobile_Num': 9887766559, 'Location': 'Tindivanam', 'DOB': '02/06/2000'},
        {'Name': 'Chennu', 'Mobile_Num': 5698712365, 'Location': 'Chengalpattu', 'DOB': '01/01/2001'},
        {'Name': 'Gayathri', 'Mobile_Num': 7102365893, 'Location': 'Chidambaram', 'DOB': '03/03/1999'},
        {'Name': 'Harish', 'Mobile_Num': 7000000000, 'Location': 'Thenkasi', 'DOB': '07/08/1993'},
        {'Name': 'Harini', 'Mobile_Num': 9999911122, 'Location': 'Cuddalore', 'DOB': '10/10/1999'},
        {'Name': 'Harish', 'Mobile_Num': 4563217890, 'Location': 'Mayiladuthurai', 'DOB': '16/04/1999'},
        {'Name': 'Jagdesh', 'Mobile_Num': 8023156547, 'Location': 'Kumbakonam', 'DOB': '04/04/2000'},
        {'Name': 'Janavi', 'Mobile_Num': 6336363663, 'Location': 'Trichy', 'DOB': '01/02/1999'},
        {'Name': 'Jai', 'Mobile_Num': 6666666987, 'Location': 'Pudukootai', 'DOB': '06/06/1997'},
        {'Name': 'Karan', 'Mobile_Num': 9797979797, 'Location': 'Erode', 'DOB': '07/07/1998'},
        {'Name': 'Kaviya', 'Mobile_Num': 7410258911, 'Location': 'Salem', 'DOB': '08/08/1995'}]

In [33]:
#insert many
my_colle.insert_many(data)

In [34]:
#find
my_colle.find_one()

{'_id': ObjectId('63943ff7bd9667c46d969bb9'),
 'Name': 'Raja',
 'Mobile_Num': 7530006574,
 'Location': 'Pudukootai',
 'DOB': '06/06/1997'}

In [35]:
#find all using loop
for i in my_colle.find():
    print(i)

{'_id': ObjectId('63943ff7bd9667c46d969bb9'), 'Name': 'Raja', 'Mobile_Num': 7530006574, 'Location': 'Pudukootai', 'DOB': '06/06/1997'}
{'_id': ObjectId('6394401bbd9667c46d969bba'), 'Name': 'Aadhi', 'Mobile_Num': 6589564112, 'Location': 'Coimbatore', 'DOB': '26/11/1998'}
{'_id': ObjectId('6394401bbd9667c46d969bbb'), 'Name': 'Abinaya', 'Mobile_Num': 5432169875, 'Location': 'Chennai', 'DOB': '19/09/1999'}
{'_id': ObjectId('6394401bbd9667c46d969bbc'), 'Name': 'Balaji S', 'Mobile_Num': 7788996655, 'Location': 'Tirupur', 'DOB': '15/12/2000'}
{'_id': ObjectId('6394401bbd9667c46d969bbd'), 'Name': 'Bobby', 'Mobile_Num': 9988776655, 'Location': 'Pondicherry', 'DOB': '02/12/199'}
{'_id': ObjectId('6394401bbd9667c46d969bbe'), 'Name': 'Barath', 'Mobile_Num': 9876543210, 'Location': 'Chidambaram', 'DOB': '16/08/2002'}
{'_id': ObjectId('6394401bbd9667c46d969bbf'), 'Name': 'Chandru', 'Mobile_Num': 9887766559, 'Location': 'Tindivanam', 'DOB': '02/06/2000'}
{'_id': ObjectId('6394401bbd9667c46d969bc0'), 'Name': 'Chennu', 'Mobile_Num': 5698712365, 'Location': 'Chengalpattu', 'DOB': '01/01/2001'}
{'_id': ObjectId('6394401bbd9667c46d969bc1'), 'Name': 'Gayathri', 'Mobile_Num': 7102365893, 'Location': 'Chidambaram', 'DOB': '03/03/1999'}
{'_id': ObjectId('6394401bbd9667c46d969bc2'), 'Name': 'Harish', 'Mobile_Num': 7000000000, 'Location': 'Thenkasi', 'DOB': '07/08/1993'}
{'_id': ObjectId('6394401bbd9667c46d969bc3'), 'Name': 'Harini', 'Mobile_Num': 9999911122, 'Location': 'Cuddalore', 'DOB': '10/10/1999'}
{'_id': ObjectId('6394401bbd9667c46d969bc4'), 'Name': 'Harish', 'Mobile_Num': 4563217890, 'Location': 'Mayiladuthurai', 'DOB': '16/04/1999'}
{'_id': ObjectId('6394401bbd9667c46d969bc5'), 'Name': 'Jagdesh', 'Mobile_Num': 8023156547, 'Location': 'Kumbakonam', 'DOB': '04/04/2000'}
{'_id': ObjectId('6394401bbd9667c46d969bc6'), 'Name': 'Janavi', 'Mobile_Num': 6336363663, 'Location': 'Trichy', 'DOB': '01/02/1999'}
{'_id': ObjectId('6394401bbd9667c46d969bc7'), 'Name': 'Jai', 'Mobile_Num': 6666666987, 'Location': 'Pudukootai', 'DOB': '06/06/1997'}
{'_id': ObjectId('6394401bbd9667c46d969bc8'), 'Name': 'Karan', 'Mobile_Num': 9797979797, 'Location': 'Erode', 'DOB': '07/07/1998'}
{'_id': ObjectId('6394401bbd9667c46d969bc9'), 'Name': 'Kaviya', 'Mobile_Num': 7410258911, 'Location': 'Salem', 'DOB': '08/08/1995'}

In [36]:
for i in my_colle.find({'Location': 'Chidambaram'}):
    print(i)

{'_id': ObjectId('6394401bbd9667c46d969bbe'), 'Name': 'Barath', 'Mobile_Num': 9876543210, 'Location': 'Chidambaram', 'DOB': '16/08/2002'}
{'_id': ObjectId('6394401bbd9667c46d969bc1'), 'Name': 'Gayathri', 'Mobile_Num': 7102365893, 'Location': 'Chidambaram', 'DOB': '03/03/1999'}

In [47]:
for i in my_colle.find({'Name': 'Harish'},{'Location':1, '_id':0}):
    print(i)

{'Location': 'Thenkasi'}
{'Location': 'Mayiladuthurai'}

In [41]:
#update
Q ={'Name':'Bobby'}
new ={'$set':{'Name':'Bobby','Mobile_Num':9675432190,'Location':'Thanjore','DOB':"25/11/1998"}}
my_colle.update_one(Q,new)

In [42]:
for i in my_colle.find():
    print(i)

{'_id': ObjectId('63943ff7bd9667c46d969bb9'), 'Name': 'Raja', 'Mobile_Num': 7530006574, 'Location': 'Pudukootai', 'DOB': '06/06/1997'}
{'_id': ObjectId('6394401bbd9667c46d969bba'), 'Name': 'Aadhi', 'Mobile_Num': 6589564112, 'Location': 'Coimbatore', 'DOB': '26/11/1998'}
{'_id': ObjectId('6394401bbd9667c46d969bbb'), 'Name': 'Abinaya', 'Mobile_Num': 5432169875, 'Location': 'Chennai', 'DOB': '19/09/1999'}
{'_id': ObjectId('6394401bbd9667c46d969bbc'), 'Name': 'Balaji S', 'Mobile_Num': 7788996655, 'Location': 'Tirupur', 'DOB': '15/12/2000'}
{'_id': ObjectId('6394401bbd9667c46d969bbd'), 'Name': 'Bobby', 'Mobile_Num': 9675432190, 'Location': 'Thanjore', 'DOB': '25/11/1998'}
{'_id': ObjectId('6394401bbd9667c46d969bbe'), 'Name': 'Barath', 'Mobile_Num': 9876543210, 'Location': 'Chidambaram', 'DOB': '16/08/2002'}
{'_id': ObjectId('6394401bbd9667c46d969bbf'), 'Name': 'Chandru', 'Mobile_Num': 9887766559, 'Location': 'Tindivanam', 'DOB': '02/06/2000'}
{'_id': ObjectId('6394401bbd9667c46d969bc0'), 'Name': 'Chennu', 'Mobile_Num': 5698712365, 'Location': 'Chengalpattu', 'DOB': '01/01/2001'}
{'_id': ObjectId('6394401bbd9667c46d969bc1'), 'Name': 'Gayathri', 'Mobile_Num': 7102365893, 'Location': 'Chidambaram', 'DOB': '03/03/1999'}
{'_id': ObjectId('6394401bbd9667c46d969bc2'), 'Name': 'Harish', 'Mobile_Num': 7000000000, 'Location': 'Thenkasi', 'DOB': '07/08/1993'}
{'_id': ObjectId('6394401bbd9667c46d969bc3'), 'Name': 'Harini', 'Mobile_Num': 9999911122, 'Location': 'Cuddalore', 'DOB': '10/10/1999'}
{'_id': ObjectId('6394401bbd9667c46d969bc4'), 'Name': 'Harish', 'Mobile_Num': 4563217890, 'Location': 'Mayiladuthurai', 'DOB': '16/04/1999'}
{'_id': ObjectId('6394401bbd9667c46d969bc5'), 'Name': 'Jagdesh', 'Mobile_Num': 8023156547, 'Location': 'Kumbakonam', 'DOB': '04/04/2000'}
{'_id': ObjectId('6394401bbd9667c46d969bc6'), 'Name': 'Janavi', 'Mobile_Num': 6336363663, 'Location': 'Trichy', 'DOB': '01/02/1999'}
{'_id': ObjectId('6394401bbd9667c46d969bc7'), 'Name': 'Jai', 'Mobile_Num': 6666666987, 'Location': 'Pudukootai', 'DOB': '06/06/1997'}
{'_id': ObjectId('6394401bbd9667c46d969bc8'), 'Name': 'Karan', 'Mobile_Num': 9797979797, 'Location': 'Erode', 'DOB': '07/07/1998'}
{'_id': ObjectId('6394401bbd9667c46d969bc9'), 'Name': 'Kaviya', 'Mobile_Num': 7410258911, 'Location': 'Salem', 'DOB': '08/08/1995'}

In [44]:
#delete
my_colle.delete_one({'Name': 'Balaji S'})

In [45]:
for i in my_colle.find():
    print(i)

{'_id': ObjectId('63943ff7bd9667c46d969bb9'), 'Name': 'Raja', 'Mobile_Num': 7530006574, 'Location': 'Pudukootai', 'DOB': '06/06/1997'}
{'_id': ObjectId('6394401bbd9667c46d969bba'), 'Name': 'Aadhi', 'Mobile_Num': 6589564112, 'Location': 'Coimbatore', 'DOB': '26/11/1998'}
{'_id': ObjectId('6394401bbd9667c46d969bbb'), 'Name': 'Abinaya', 'Mobile_Num': 5432169875, 'Location': 'Chennai', 'DOB': '19/09/1999'}
{'_id': ObjectId('6394401bbd9667c46d969bbd'), 'Name': 'Bobby', 'Mobile_Num': 9675432190, 'Location': 'Thanjore', 'DOB': '25/11/1998'}
{'_id': ObjectId('6394401bbd9667c46d969bbe'), 'Name': 'Barath', 'Mobile_Num': 9876543210, 'Location': 'Chidambaram', 'DOB': '16/08/2002'}
{'_id': ObjectId('6394401bbd9667c46d969bbf'), 'Name': 'Chandru', 'Mobile_Num': 9887766559, 'Location': 'Tindivanam', 'DOB': '02/06/2000'}
{'_id': ObjectId('6394401bbd9667c46d969bc0'), 'Name': 'Chennu', 'Mobile_Num': 5698712365, 'Location': 'Chengalpattu', 'DOB': '01/01/2001'}
{'_id': ObjectId('6394401bbd9667c46d969bc1'), 'Name': 'Gayathri', 'Mobile_Num': 7102365893, 'Location': 'Chidambaram', 'DOB': '03/03/1999'}
{'_id': ObjectId('6394401bbd9667c46d969bc2'), 'Name': 'Harish', 'Mobile_Num': 7000000000, 'Location': 'Thenkasi', 'DOB': '07/08/1993'}
{'_id': ObjectId('6394401bbd9667c46d969bc3'), 'Name': 'Harini', 'Mobile_Num': 9999911122, 'Location': 'Cuddalore', 'DOB': '10/10/1999'}
{'_id': ObjectId('6394401bbd9667c46d969bc4'), 'Name': 'Harish', 'Mobile_Num': 4563217890, 'Location': 'Mayiladuthurai', 'DOB': '16/04/1999'}
{'_id': ObjectId('6394401bbd9667c46d969bc5'), 'Name': 'Jagdesh', 'Mobile_Num': 8023156547, 'Location': 'Kumbakonam', 'DOB': '04/04/2000'}
{'_id': ObjectId('6394401bbd9667c46d969bc6'), 'Name': 'Janavi', 'Mobile_Num': 6336363663, 'Location': 'Trichy', 'DOB': '01/02/1999'}
{'_id': ObjectId('6394401bbd9667c46d969bc7'), 'Name': 'Jai', 'Mobile_Num': 6666666987, 'Location': 'Pudukootai', 'DOB': '06/06/1997'}
{'_id': ObjectId('6394401bbd9667c46d969bc8'), 'Name': 'Karan', 'Mobile_Num': 9797979797, 'Location': 'Erode', 'DOB': '07/07/1998'}
{'_id': ObjectId('6394401bbd9667c46d969bc9'), 'Name': 'Kaviya', 'Mobile_Num': 7410258911, 'Location': 'Salem', 'DOB': '08/08/1995'}